<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .password-reset-form {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <div class="password-reset-form">
        <div id="error-container"></div>
        <h3 class="mb-4">Password Reset</h3>
        <form id="reset-form">
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password"
                    name="password" 
                    
                >
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="confirmPassword"
                    name="confirmPassword" 
                    
                >
            </div>
            <div class="form-text mb-3 text-danger">
                Password must contain
                minimum 6 character,
                at least 1 digit,
                at least 1 uppercase character,
                and at least 1 lowercase character.
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS (Optional, if you need JavaScript features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script ref="text/JavaScript">

       document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('reset-form');
            const error = document.getElementById("error-container");

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const password = document.getElementById("password").value;
                const cpassword = document.getElementById("confirmPassword").value;
                const pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[^"'\s]{6,}$/i
                
                // VALIDATION 
                if(!password || !cpassword){
                    showError("Enter required fields.", "alert-danger");
                    return;
                }
                if(password != cpassword){
                    showError("Password does not match!", "alert-danger");
                    return;
                }
                if(!pattern.test(password)){
                    showError("Password pattern does not match!", "alert-danger");
                    return;
                }
                
                // RESET PASSWORD
                postData(password)
                setTimeout(() => {
                    location.reload();
                }, 4000)
            });

            // ERROR MESSAGE FUNCTION
            const showError = (message, cls) => {
                error.innerHTML = ""
                error.style.display = "block";
                const alertDiv = document.createElement('div');
                alertDiv.classList.add('alert', cls);
                alertDiv.textContent = message;
                error.appendChild(alertDiv);

                // HIDE ERROR AFTER 3 SEC
                setTimeout(function () {
                    error.style.display = "none";
                }, 4000)
            }

            // CHANGE PASSWORD
            async function postData(password) {
                try {
                    const urlQueryParams = new URLSearchParams(window.location.search);
                    const email = urlQueryParams.get("email");
                    const token = urlQueryParams.get("token");
                    if(!email){
                        showError("Eamil id missing!!", "alert-danger")
                    }
                    const obj  = {"password": password}
                    const response = await fetch(`/api/auth/resetpassword?email=${email}&token=${token}`, {
                        method: "PUT",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(obj)
                    })
                    const receivedResponse = await response.json();
                    if (!response.ok) {
                        showError("Network response was not ok", "alert-danger")
                    }
                    showError(receivedResponse.message, "alert-success")
                } catch (error) {
                    showError("something went wrong!!", "alert-danger")
                }
            }
            
        });

    </script>
</body>

</html>



<!-- "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[^"'\s]{6,}$" -->